<!DOCTYPE html>
<html lang="en" xmlns:th='http://www.thymeleaf.org'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head}">
</head>


<body>

<div th:replace="~{fragments/navbar}">
</div>


<div class="container-fluid">
    <h5 class="text-center text-white mt-5">
        Upps, something went terribly wrong!
        <img th:src="@{/images/front-of-white-car-get-damaged-by-accident-on-the-road-broken-cars-after-collision-auto-accident-isolated-on-transparent-background-file-png.png}">
    </h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
